.about-us {
  padding-top: 152px;
  padding-bottom: 148px;

  @media (max-width: $tablet-width) {
    padding-top: 20px;
    padding-bottom: 68px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 23px;
    padding-bottom: 80px;
  }
}
.about-us__title {
  margin-bottom: 50px;

  @media (max-width: $tablet-width) {
    margin-bottom: 29px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 30px;
  }
}
.about-us__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 40px;
  column-gap: 40px;

  @media (max-width: $tablet-width) {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    padding-right: 71px;
    padding-left: 71px;
  }

  @media (max-width: $mobile-width) {
    grid-template-columns: 1fr;
    padding-right: 0;
    padding-left: 0;
    column-gap: 0;
    row-gap: 39px;
  }
}
.about-us li {
  text-align: center;
  letter-spacing: 0.005em;
}
.about-us li {
  &::before {
    font-weight: bold;
    font-size: 28px;
    line-height: 38px;
    color: $mint;
    display: block;
    margin-bottom: 16px;

    @media (max-width: $tablet-width) {
      margin-bottom: 18px;
    }

    @media (max-width: $mobile-width) {
      margin-bottom: 14px;
    }
  }
}
.about-us li:nth-child(1):before {
  content: "01";
}
.about-us li:nth-child(2):before {
  content: "02";
}
.about-us li:nth-child(3):before {
  content: "03";
}
.about-us li:nth-child(4):before {
  content: "04";
}
