.bike-types {
  background-color: $background-light;
  padding-top: 150px;
  padding-bottom: 147px;

  @media (max-width: $tablet-width) {
    padding-top: 52px;
    padding-bottom: 20px;
  }

  @media (max-width: $mobile-width) {
    padding-bottom: 12px;
  }
}
.bike-types__title {
  margin-bottom: 50px;

  @media (max-width: $tablet-width) {
    margin-bottom: 30px;
  }
}
