.form__legend {
  margin-bottom: 18px;
  letter-spacing: 0.005em;

  @media (max-width: $tablet-width) {
    margin-bottom: 29px;
  }
}
.form__legend p {
  font-weight: 600;
  font-size: 17px;
  line-height: 28px;
  color: $white;
  text-align: center;

  @media (max-width: $tablet-width) {
    font-size: 18px;
    letter-spacing: 0.005em;
    color: $black;
  }
}
.form input {
  box-sizing: border-box;
  border: none;
  border-radius: 6px;
}
.form__input {
  margin-bottom: 20px;
}
.form__input input {
  width: 100%;
  background-color: $white;
  border: 1px solid $input-border;
  padding-top: 18px;
  padding-right: 14px;
  padding-bottom: 12px;
  padding-left: 29px;

  &::placeholder {
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: rgba($dark-gray, 0.5);
    opacity: 1;
  }

  @media (max-width: $tablet-width) {
    padding-top: 17px;
    padding-bottom: 13px;
    padding-left: 22px;
  }
}
.form__submit input {
  font-weight: 600;
  font-size: 15px;
  line-height: 21px;
  letter-spacing: 0.005em;
  color: $black;
  background-color: $mint;
  display: flex;
  align-items: center;
  width: 100%;
  padding-top: 18px;
  padding-right: 48px;
  padding-bottom: 14px;
  padding-left: 52px;
  cursor: pointer;

  @media (max-width: $tablet-width) {
    padding-right: 52px;
    padding-left: 52px;
  }
}
