.form__legend p {
  font-weight: 600;
font-size: 17px;
line-height: 28px;
  color: $white;
}
.form input {
  border: none;
  cursor: pointer;
  border-radius: 6px;
}
.form__input input {
  background-color: $white;
  border: 1px solid input-border;
  padding-top: 14px;
  padding-right: 29px;
  padding-bottom: 10px;
  padding-left: 29px;

  &::placeholder {
    font-size: 15px;
line-height: 24px;
color: rgba($dark-gray, 0.5);
  }
}
.form__submit input {
  font-weight: 600;
font-size: 15px;
line-height: 21px;
color: $black;
background-color: $mint;
display: flex;
align-items: center;
text-align: center;
padding-right: 48px;
padding-left: 48px;
}
