.form__legend {
  margin-bottom: 18px;
  letter-spacing: 0.005em;

  @media (max-width: $tablet-width) {
    margin-bottom: 29px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 19px;
  }
}
.form__legend p {
  font-weight: 600;
  font-size: 17px;
  line-height: 28px;
  color: $white;
  text-align: center;

  @media (max-width: $tablet-width) {
    font-size: 18px;
    letter-spacing: 0.005em;
    color: $black;
  }
}
.form input,
.form button {
  box-sizing: border-box;
  border: none;
  border-radius: 6px;
}
.form input {
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: rgba($dark-gray, 0.7);
  width: 100%;
  background-color: $white;
  border: 1px solid $input-border;
  padding-top: 14px;
  padding-right: 14px;
  padding-bottom: 7px;
  padding-left: 29px;
  margin-bottom: 20px;

  &::placeholder {
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: rgba($dark-gray, 0.5);
    opacity: 1;
  }

  &:hover {
    color: $dark-gray;
    border: 1px solid $dark-gray;
    transition: 500ms;
  }

  @media (max-width: $tablet-width) {
    padding-top: 12px;
    padding-bottom: 10px;
    padding-left: 22px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 13px;
    padding-left: 24px;
    padding-bottom: 9px;
    margin-bottom: 19px;
  }
}
.form button {
  font-weight: 600;
  font-size: 15px;
  line-height: 21px;
  letter-spacing: 0.005em;
  color: $black;
  background-color: $mint;
  width: 100%;
  padding-top: 18px;
  padding-right: 20px;
  padding-bottom: 14px;
  padding-left: 20px;
  cursor: pointer;

  &:hover {
    color: rgba($black, 0.8);
    background-color: rgba($mint, 0.8);
    transition: 500ms;
  }

  &:active {
    color: rgba($black, 0.6);
    background-color: rgba($mint, 0.6);
  }

  @media (max-width: $mobile-width) {
    padding-top: 16px;
    padding-bottom: 15px;
  }
}
