.promo {
  box-sizing: border-box;
  padding-top: 317px;
  padding-bottom: 241px;
  display: flex;
  background-color: $promo-background;
  background-image: url("../img/first_screen_desktop.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/first_screen_desktop@2x.jpg");
  }

  @media (max-width: $tablet-width) {
    min-height: auto;
    padding-top: 0;
    padding-bottom: 50px;
    background-color: $white;
    background-image: none;
  }
}
.promo__body {
  max-width: 1166px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
  display: flex;

  @media (max-width: $tablet-width) {
    max-width: 100%;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    flex-direction: column;
    align-items: stretch;
  }
}
.promo__text-wrapper {
  flex-grow: 1;
  max-width: 532px;
  margin-right: 20px;

  @media (max-width: $tablet-width) {
    max-width: 100%;
    margin-right: 0;
    padding-top: 24px;
    padding-right: 21px;
    padding-bottom: 78px;
    padding-left: 21px;
    background-color: $promo-background;
    background-image: url("../img/first_screen_tablet.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/first_screen_tablet@2x.jpg");
    }
  }

  @media (max-width: $mobile-width) {
    padding-top: 25px;
    padding-right: 17px;
    padding-bottom: 68px;
    padding-left: 17px;
    background-size: cover;
    background-image: url("../img/first_screen_mobile.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/first_screen_mobile@2x.jpg");
    }
  }
}
.promo__form-wrapper {
  width: 327px;
  padding-top: 6px;

  @media (max-width: $tablet-width) {
    width: 324px;
    margin: 0 auto;
    padding-top: 71px;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    padding-right: 16px;
    padding-left: 16px;
  }
}
.promo__logo {
  display: block;
  margin-bottom: 31px;

  @media (max-width: $tablet-width) {
    margin-bottom: 90px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 76px;
  }
}
.promo__title {
  font-weight: bold;
  font-size: 46px;
  line-height: 64px;
  color: $white;
  margin-top: 0;
  margin-bottom: 23px;

  @media (max-width: $tablet-width) {
    font-size: 30px;
    line-height: 42px;
    text-align: center;
    margin-bottom: 21px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 20px;
  }
}
.promo p {
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
  color: rgba($white, 0.8);
  margin: 0;

  @media (max-width: $tablet-width) {
    font-size: 18px;
    text-align: center;
  }
}
.promo__desctop-br {
  @media (max-width: $tablet-width) {
    display: none;
  }
}
.promo__tablet-br {
  display: none;

  @media (max-width: $tablet-width) {
    display: inline;
  }

  @media (max-width: $mobile-width) {
    display: none;
  }
}
