.video__container {
  background: linear-gradient(180deg, $background-dark 0%, $background-dark 88%, $white 88%, $white 100%);

  @media (max-width: $tablet-width) {
    background: linear-gradient(180deg, $background-dark 0%, $background-dark 83%, $white 83%, $white 100%);
  }

  @media (max-width: $mobile-width) {
    background: linear-gradient(180deg, $background-dark 0%, $background-dark 89%, $white 89%, $white 100%);
  }
}
.video__body {
  padding-top: 122px;

  @media (max-width: $tablet-width) {
    padding-top: 66px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 79px;
  }
}
.video__title {
  color: $white;
}
.video p {
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: rgba($white, 0.7);
  text-align: center;
  margin-top: 20px;
  margin-bottom: 57px;

  @media (max-width: $tablet-width) {
    margin-top: 16px;
    margin-bottom: 38px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 51px;
  }
}
.video__wrapper {
  max-width: 929px;
  width: 80%;
  min-height: 520px;
  margin: 0 auto;
  position: relative;
  background-color: $promo-background;
  background-image: url("../img/video_poster_desktop.webp");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/video_poster_desktop@2x.webp");
  }

  @media (max-width: $tablet-width) {
    width: 72%;
    min-height: 282px;
    background-image: url("../img/video_poster_tablet.webp");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/video_poster_tablet@2x.webp");
    }
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    min-height: 162px;
    background-image: url("../img/video_poster_mobile.webp");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/video_poster_mobile@2x.webp");
    }
  }
}
.video__wrapper img {
  display: block;
}
.video__button {
  cursor: pointer;
  background-color: $mint;
  width: 65px;
  height: 65px;
  padding: 0;
  border: none;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  &:hover {
    background-color: rgba($mint, 0.8);
    transition: 500ms;
  }

  &:active {
    color: rgba($black, 0.6);
    background-color: rgba($mint, 0.6);
  }

  @media (max-width: $tablet-width) {
    width: 90px;
    height: 90px;
  }

  @media (max-width: $mobile-width) {
    width: 65px;
    height: 65px;
  }
}
.video__button::before {
  content: "";
  width: 13px;
  height: 18px;
  position: absolute;
  left: 53%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../img/play.svg");
  background-repeat: no-repeat;
  background-size: contain;

  @media (max-width: $tablet-width) {
    width: 18px;
    height: 25px;
    top: 49%;
  }
}
.video__desktop-br {
  @media (max-width: $tablet-width) {
    display: none;
  }
}
.video__tablet-br {
  display: none;

  @media (max-width: $tablet-width) {
    display: inline;
  }

  @media (max-width: $mobile-width) {
    display: none;
  }
}
