// Fonts
$font: "Open Sans", "Arial", sans-serif;

// Colors
$black: #000000;
$white: #FFFFFF;
$mint: #0AD9C6;
$play-gray: #070707;
$dark-gray: #1C1C1C;
$background-dark: #131314;
$light-gray: #F6F6F6;
$background-light: #F6F7F9;
$input-border: #C9CCD4;


// Media
$desctop-width-only: 1024px;
$tablet-width: 1023px;
$mobile-width: 767px;
